#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{

  position : relative;
  min-width : 1024px;
  min-height: 100vh;
  background-position : center;
  background-size: cover;
}
