.forecast-block {
    background:linear-gradient(40deg, #ffe2c4, #ea934a, #03d5ff, #03d5ff);
    border-radius: 10px;
    height: 130px;
    width: 130px;
    border: 3px solid grey;
}
.forecast-block p{
    font-family: "Calisto MT", Geneva, Tahoma, sans-serif;
    color: white;
    font-weight: bold;
    font-size: 12px;
}

h5{
 font-family: "Cooper Black", sans-serif;
    font-size: 1em;
    color: #662a6c
}
.forecast-block p {
    font-size: small;
}
