@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: white;
  border: none;

  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html{
  scroll-behavior: smooth;
  overflow-x: auto;
  background: linear-gradient(45deg, #a9f166, #dbf6c1, #03d5ff, #03d5ff, aquamarine, red, violet);

}

body {
  margin: 0;
  display: flex;
  place-items: center;
  /*position: fixed;*/

  min-width: 100vw;             /* Example width of a maximized screen */
  min-height: 100vh;            /* Example height of a maximized screen */
  overflow-x: auto;            /* Allows scrolling for smaller screens */
  overflow-y: auto;
}



h1 {
  font-size: 3.2em;
  line-height: 1.1;
}





/* Continue this pattern for longer text */
#heading{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  position:Absolute;
  top: 5px;
  left:200px;
  color: blueviolet;
  font-size: 1.9em;
}





